mixin project (arguments)

  - var arguments = arguments || {}



    if arguments.direction == 'image--first'
      li.project.project--image-first.l-grid.l-grid--triple
        +project-image(arguments)
        +project-description(arguments)
    else
      li.project.l-grid.l-grid--triple
        +project-description(arguments)
        +project-image(arguments)



mixin project-description(arguments)
  .l-grid-cell.l-one-half(style="position: relative;")
    .project-details-container
      span.project-year !{arguments.date}
      h3.project-title
        a.link(href=arguments.url) #{arguments.name}
      p.project-description !{arguments.description}

      span.project-tags-title Tags
      p.project-tags !{arguments.tags.join('<br>')}

mixin project-image(arguments)
  - var klass = arguments.direction ? "project-" + arguments.direction : ""
  .l-grid-cell.l-one-half
    .center-project
      img.project-image(class=klass, src="#{relativePath}assets/#{arguments.image}-hires.jpg")

mixin arrow()
  svg.arrow(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 512 512', enable-background='new 0 0 512 512', xml:space='preserve')
    polygon#arrow-18-icon(points='462,256.445 373.803,168.4 373.803,223.088 50,223.088 50,289.803 373.803,289.803 373.803,344.488 ')
