mixin styleguide-navigation(data, options, env)
  - data = data || {}
  - data.pages = data.pages || []
  nav.styleguide-navigation
    ul.o-list--unstyled
      each page in data.pages
        li
          a.c-link.styleguide-navigation__link(
            href="/#{page.url}#{production ? '' : '.html'}",
            class=page.active ? 'is-active' : ''
          )= page.name
          if page.children && page.children.length
            ul
              each child in page.children
                li
                  a.c-link(href="#" + child)= child
      
