<div class="content-large">
	<div class="cv-zone">
		<div class="cv-header">
			<h4>Education</h4>
		</div>
		<div class="cv-content">
			<ul>
				<% data.cv.education.each do |entry| %>
				<li>
					<p><span class="time"><%= entry.date %></span><br>
						<span class="highlight">
							<% if entry.institutionURL %>
								<%= link_to entry.institution, entry.institutionURL %><br>
							<% else %>
								<%= entry.institution %><br>
							<% end %>
						</span>
						<small><%= entry.title %></small>
					</p>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="cv-zone">
		<div class="cv-header">
			<h4>Experience</h4>
		</div>
		<div class="cv-content">
			<ul>
				<% data.cv.experience.each do |entry| %>
				<li>
					<p><span class="time"><%= entry.date %></span><br>
						<span class="highlight">
							<%= entry.position %>, 
							<% if entry.companyURL %>
								<%= link_to entry.company, entry.companyURL %><br>
							<% else %>
								<%= entry.company %><br>
							<% end %>
						</span>
						<small><%= entry.description %></small>
					</p>
				</li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="cv-zone">
		<div class="cv-header">
			<h4>Some things I can do</h4>
		</div>
		<div class="cv-content">
			<ul class="columns">
				<% data.cv.skills.each_with_index do |entry, i| %>
				<li><p class="<%= last_index(data.cv.skills, i) %>"><%= entry %></p></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>


