<% content_for :header do %>
  <%= render_header %>
<% end %>


<div class="content-large">
	<div class="cv-zone">
		<div class="cv-header">
			<h4>Profile</h4>
		</div>
		<div class="cv-content">
			<p>I'm a technology enthusiast, passionate not only about functional pieces of code, but also deeply concerned with clean, readable code, and the use of standards and software patterns.</p>
			<p>I try to extend the quality of the things I make - good coding - to the final product, which usually is revealed in a rich user experience and carefully thought user interfaces.</p>
			<p>In parallel to the build technologic products passion, I'm also very interested in entrepreneurship. In order to learn more about the subject, I often go to talks and conferences, and submit ideas to contests (3DS Coimbra, iUP25k, 3DS Porto). That gave me public speaking experience and the ability to perform non-boring and objective pitches.</p>
		</div>
	</div>
	<div class="cv-zone">
		<div class="cv-header">
			<h4>Education</h4>
		</div>
		<div class="cv-content">
			<ul>
				<% data.cv.education.each do |entry| %>
				<li>
					<p><span class="time"><%= entry.date %></span><br>
						<span class="highlight">
							<% if entry.institutionURL %>
								<%= link_to entry.institution, entry.institutionURL %><br>
							<% else %>
								<%= entry.institution %><br>
							<% end %>
						</span>
						<small><%= entry.title %></small>
					</p>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="cv-zone">
		<div class="cv-header">
			<h4>Experience</h4>
		</div>
		<div class="cv-content">
			<ul>
				<% data.cv.experience.each do |entry| %>
				<li>
					<p><span class="time"><%= entry.date %></span><br>
						<span class="highlight">
							<%= entry.position %>, 
							<% if entry.companyURL %>
								<%= link_to entry.company, entry.companyURL %><br>
							<% else %>
								<%= entry.company %><br>
							<% end %>
						</span>
						<small><%= entry.description %></small>
					</p>
				</li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="cv-zone">
		<div class="cv-header">
			<h4>Some things I can do</h4>
		</div>
		<div class="cv-content">
			<ul class="columns">
				<% data.cv.skills.each_with_index do |entry, i| %>
				<li><p class="<%= last_index(data.cv.skills, i) %>"><%= entry %></p></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>


