<% content_for :header do %>
  <%= render_header %>
<% end %>

<div class="loading">
	<img src="img/loading.gif">
</div>

<section id="projects-list" class="content-large">
	<% data.projects.projects.each do |p| %>
		<section class="project-wrapper">
			<section class="project-description">
				<div class="description-zone">
					<span class="label">Project</span><br>
					<span class="title-text"><%= p.title %></span>
				</div>
				
				<div class="description-zone">
					<span class="label">Description</span><br>
					<span class="main-text"><%= p.description %></span>
				</div>
				<% if p.members %>
				<div class="description-zone">
					<span class="label">Team</span><br>
					<% p.members.each do |m|%>
						<a href="<%= m.link %>" target="_blank"><span class="main-text"><%= m.name %></span></a><br>
					<% end %>
				</div>
				<% end %>
				
				<div class="description-zone">
					<span class="label">Technologies Used</span><br>
					<span class="main-text"><%= p.technologies %></span>	
				</div>

				<div class="description-zone">
					<span class="label">Date</span><br>
					<span class="main-text"><%= p.date %></span>	
				</div>
			</section>
			<section class="project-images">
				<div class="gallery">
					<ul class="slides">
						<% if p.media %>
							<% p.media.each do |m|%>
								<li>
								<% if m.type == "image" %>
									<img src="<%= m.ref %>" width="494" style="border: 1px solid rgb(200,200,200);"/>
								<% elsif m.type == "video" %>
									<iframe id="player_1" src="http://player.vimeo.com/video/<%= m.ref %>?api=1&amp;player_id=player_2" width="496" height="396" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
								<% end %>
								</li>
							<% end %>
						<% end %>
						

    					<!-- <li>
              				
  	    				</li> -->
  				</ul>
  			</div>				
			</section>			
		</section>
	<% end %>
</section>